<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="Home" icon="ion-home" href="#/tab/home/main">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="My Customers" icon="ion-ios7-contact" href="#/tab/customer/main">
    <ion-nav-view name="customer-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Quotation" icon="ion-ios7-calculator" href="#/tab/quotation/main">
    <ion-nav-view name="quotation-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Search" icon="ion-search" href="#/tab/search/main">
    <ion-nav-view name="search-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Sync" icon="ion-ios7-reload" href="#/tab/sync/main">
    <ion-nav-view name="sync-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Settings" icon="ion-settings" href="#/tab/settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="About" icon="ion-ios7-information" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Contact" icon="ion-ios7-world" href="#/tab/contact">
    <ion-nav-view name="contact-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>