<ion-view title="Sync">
  <ion-content>
    <br/>
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/sync/product">Update Products</a>
    </p>
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/sync/prospect">Sync Prospects</a>
    </p>
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/sync/quotation">Sync Quotations</a>
    </p>
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/sync/esubmission">Esubmission</a>
    </p>
  </ion-content>
</ion-view>