<ion-view title="Search">
  <ion-content>
    <br/>
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/search/customer">Search Customer</a>
    </p>
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/search/proposal">Search Proposal</a>
    </p>
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/search/policy">Search Policy</a>
    </p>
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/search/adviser">Search Adviser</a>
    </p>
  </ion-content>
</ion-view>